<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
</head>
<body>
<div align="center">
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <i><span sec:authentication="principal.authorities">Roles</span></i>
    </div>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    <br/><br/>

    <div sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
        <span sec:authorize="hasAuthority('ADMIN')" ><a th:href="@{'/admin/'}">Admin</a>
        &nbsp;&nbsp;&nbsp;&nbsp; </span>
        <a th:href="@{'/user/'}">User</a>

    </div>

</div>
</body>
</html>