<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
</head>
<body>
<div align="center">
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <i><span sec:authentication="principal.authorities">Roles</span></i>


        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
        <br/><br/>
        <h2>User: <span sec:authentication="name">Username</span></h2>
        <h2>Roles: <span sec:authentication="principal.authorities">Roles</span></h2>
    </div>
</div>
</body>
</html>